
	<h2>{{vmShow.currentContest.title}}</h2>

	<!-- Video Contest Template -->

<div ng-if="vmShow.currentContest.type == 'video'" class="videoShow"  >
	<div class="showBox">
		<iframe  ng-src="{{vmShow.clickedEntry}}" ></iframe>
	</div>
<div class="scrollBox">
	<div class="entryContainer" ng-repeat="subs in vmShow.currentContest.submissions" >
		<div class="entry" ng-click="vmShow.featMe($index)">
			<div class="info" >
				<h3>{{subs.title}}</h3>
				<p>by: {{subs.author}}</p>
				<a href="{{subs.video_url}}">{{subs.video_url}}</a>
			</div>
			<div class="votes" >
				<p>{{subs.votes}}</p>
				<p>
					<span ng-click="vmShow.upVote($index)">[+1]</span>
					<span ng-click="vmShow.downVote($index)">[-1]</span>
				</p>
				<p ng-click="vmShow.destroyEntry($index)">X</p>
			</div>
		</div>
	</div>
</div>
	<div>
		<h4>Enter Contest</h4>
		<form>
			<input placeholder="title" type="text" ng-model="vmShow.entry.title" />
			<input placeholder="author" type="text" ng-model="vmShow.entry.author" />
			<input placeholder="video_url" type="text" ng-model="vmShow.entry.video_url" />
			<button ng-click="vmShow.addEntry()">Enter Now!!!</button>
		</form>
	</div>
	<div ng-click="vmShow.hide = !vmShow.hide">Edit Contest</div>
	<div ng-show="vmShow.hide">
			<form ng-submit="vmShow.update()">
				<input type="text" ng-model="vmShow.currentContest.title" >
				<button type="submit">Submit Update</button>
			</form>
		<div ng-click="vmShow.destroy()">Remove Contest!</div>
	</div>
</div>

<!-- Text Contest Template -->

<div ng-if="vmShow.currentContest.type == 'text'" class="textShow" >
	<div class="showBox">
		<div class="textEntryContent"><h3>{{vmShow.clickedEntry}}</h3></div>
	</div>
<div class="scrollBox">
	<div class="entryContainer" ng-repeat="subs in vmShow.currentContest.submissions">
		<div class="entry" ng-click="vmShow.featMe($index)">
			<div class="info" >
				<h3>{{subs.title}}</h3>
				<p>by: {{subs.author}}</p>
			</div>
			<div class="votes" >
				<p>{{subs.votes}}</p>
				<p>
					<span ng-click="vmShow.upVote($index)">[+1]</span>
					<span ng-click="vmShow.downVote($index)">[-1]</span>
				</p>
				<p ng-click="vmShow.destroyEntry($index)">X</p>
			</div>
		</div>
	</div>
</div>
	<div>
		<h4>Enter Contest</h4>
		<form>
			<input placeholder="title" type="text" ng-model="vmShow.entry.title" />
			<input placeholder="author" type="text" ng-model="vmShow.entry.author" />
			<input placeholder="content" type="text" ng-model="vmShow.entry.content" />
			<button ng-click="vmShow.addEntry()">Enter Now!!!</button>
		</form>
	</div>
	<div ng-click="vmShow.hide = !vmShow.hide">Edit Contest</div>
	<div ng-show="vmShow.hide">
			<form ng-submit="vmShow.update()">
				<input type="text" ng-model="vmShow.currentContest.title" >
				<button type="submit">Submit Update</button>
			</form>
		<div ng-click="vmShow.destroy()">Remove Contest!</div>
	</div>
</div>

<!-- Photo Contest Template -->

<div ng-if="vmShow.currentContest.type == 'photo'" class="photoShow"  >
	<div class="showBox">
		<img  ng-src="{{vmShow.clickedEntry}}" >
	</div>
<div class="scrollBox">
	<div class="entryContainer" ng-repeat="subs in vmShow.currentContest.submissions" >
		<!-- <img src="{{subs.photo_url}}" /> -->
		<div class="entry"  ng-click="vmShow.featMe($index)" >
			<div class="info" >
				<h3>{{subs.title}}</h3>
				<p>by: {{subs.author}}</p>
				<p>{{subs.desc}}</p>
			</div>
			<div class="votes" >
				<p>{{subs.votes}}</p>
				<p>
					<span ng-click="vmShow.upVote($index)">[+1]</span>
					<span ng-click="vmShow.downVote($index)">[-1]</span>
				</p>
				<p ng-click="vmShow.destroyEntry($index)">X</p>
			</div>
		</div>
	</div>
</div>
	<div >
	<div>
		<h4>Enter Contest</h4>
		<form>
			<input placeholder="title" type="text" ng-model="vmShow.entry.title" />
			<input placeholder="author" type="text" ng-model="vmShow.entry.author" />
			<input placeholder="desc" type="text" ng-model="vmShow.entry.desc" />
			<input placeholder="photo_url" type="text" ng-model="vmShow.entry.photo_url" />
			<button ng-click="vmShow.addEntry()">Enter Now!!!</button>
		</form>
	</div>
	<div ng-click="vmShow.hide = !vmShow.hide">Edit Contest</div>
	<div ng-show="vmShow.hide">
			<form ng-submit="vmShow.update()">
				<input type="text" ng-model="vmShow.currentContest.title" >
				<button type="submit">Submit Update</button>
			</form>
		<div ng-click="vmShow.destroy()">Remove Contest!</div>
	</div>
	</div>
</div>



